<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <title></title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <style>

body {
        background: whitesmoke;
        font-family: "Poppins", sans-serif;
        /* font-family: 'Roboto Mono', monospace; */
        font-weight: bold;
      }

  .navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  margin-top:-1rem;
  background-image: linear-gradient(to right, #b8cbb8 0%, #b8cbb8 0%, #b465da 0%, #cf6cc9 33%, #ee609c 66%, #ee609c 100%);
  color: white;
  font-family: 'Poppins', sans-serif;
  font-family: 'Roboto Mono', monospace;
  font-weight: bold;

}
h1{
  font-size: 1.6rem;
  font-weight: bold;
  color: white;
  margin-left:1rem;
  text-align: center;
  text-decoration: none;
  color: black;
  padding-top:1rem
} 

p{
  font-weight: lighter;
  font-size: 15px;
  color:black;
  text-align: center;

}

.container{
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        gap: 20px;
        margin-top: 9rem;
        justify-content: center;
        align-items: stretch;
}
.box {
        background-color: #fff;
        border: 1px solid #e5e5e5;
        border-radius: 5px;
        flex-direction: row;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
        overflow: hidden;
        height: 18rem;
        width: 250px;
      }

 .add{
  border: none;
        border-radius: 3px;
        cursor: pointer;
        margin-bottom: 22px !important;
        font-size: 16px;
        padding: 10px 15px;
        transition: all 0.3s ease-in-out;
        background-image: linear-gradient(
          to right,
          #b993d6 0%,
          #8ca6db 51%,
          #b993d6 100%
        );
        text-align: center;
        align-items: center;
        margin-left: 3.8rem;
 }
      </style>
<body>
    <div  class="navbar">
      <h2>Fabley</h2>
      <a href="/addtocart"><i class="fa fa-shopping-cart" style="font-size:48px;color:black"></i></a>
    </div>
    <div class="container">

      <div class="box">
        <h1>View products </h1>
        <p>View all the trending products</p>
        <a href="/product"><button type="submit" class="add" >View Products</button></a>

      </div>

      <div class="box">
        <h1>Add product </h1>
        <p>Add your favourite products to cart, before they get out of stock </p>
        <a href="/addp"><button type="submit" class="add" >Add Product</button></a>

      </div>

      <div class="box">
        <h1>View Cart</h1>
        <p>View updated cart and more items in it. </p>
        <a href="/viewcart"><button type="submit" class="add" >View Cart</button></a>

      </div>

    </div>
    
</body>
  
</html>
